<div class="homePage container text-center" [ngClass]="{ExpandNavbar: isExpanded}">
  <h2>About</h2>
  <p>I grew up loving video games and computers. I wanted to create my own so when I decided what I wanted to be I said
    a game designer. Well problem is that there is alot of writing involved with that and I hate writing. Then i thought
    that i would try out animation. Its more dificult for me because of the art Im not good at art but I still would
    love to do it. Blender is my choice animator. Finally When i was 18 i decided that i was good at math so i looked
    into carrers that involved games and math and programming came to mind and that started my learning carrer. Since
    then it has been a long journey. I have loved every step of it and cant wait for the next journey life is gong to
    throw at me. If i seem like a interesting person and you would like to contact me please email me at
    bryantop1326@gmail.com.</p>
</div>
