

@media only screen and (max-width: 500px) {
    .ExpandNavbar {
        margin-top: 100px;
    }
}

.block {
    background: black;
    position: relative;
    left: 10px;
    top: 10px;
    height: 2.5px;
    width: 2.5px;
}