<div class="homePage text-center " [ngClass]="{ExpandNavbar: isExpanded}">
  <h1 id="tableLabel" class="m-3">Projects</h1>
  <div class="container" style="min-height: 35em;" *ngIf="!projects">
    <div class="row align-items-center" style="min-height: inherit;">
      <div class="col align-self-centers">
        <p><em>
            <fa-icon [icon]="faAtom" size='4x' [spin]="true"></fa-icon>
          </em></p>
      </div>
    </div>
  </div>


  <div class="container" *ngIf="projects">

    <div class="row">
      <div class="col-md-4 col-sm-12 project text-center align-self-center mb-2 p-2" *ngFor="let project of projects">
        <div class="card m-auto" style="width: 18rem;">
          <img [src]="project.imgUrl" class="card-img-top" [alt]="project.title">
          <div class="card-body">
            <h5 class="card-title">{{project.title}}</h5>
            <p class="card-text">{{project.description}}</p>
            <a [href]="project.url" class="btn btn-primary">{{project.title}}</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
