.homePage 
    color: red
    width: 100vw
    height: 90vh
    background-image: url("../../assets/img/GamingPc.jpg")
    background-repeat: repeat-x
    background-size: 525px
    background-position: center 10rem
    background-attachment: fixed

#anim 
    color: red


#text-speed-form 
    height: 26rem


@media only screen and (max-width: 1200px)
     #text-speed-form 
        height: 20rem


@media only screen and (max-width: 580px) 
    #text-speed-form 
        height: 12rem
    
    .page 
        background-size: 250px
        color: red
    
    #anim 
        color: red